@media (max-width: 1150px) {
    .post-vet {
        margin-top: 30px;
    }
}
@media (max-width: 1000px) {
    .navigation-ul {
        display: none;
    }
    .div-burger {
        display: block;
    }
    .petBirds-ul {
        display: none;
    }
    .div-bar {
        display: block;
    }  
    .petBirds-ul {
        display: none;
    }
    .div-bar {
        display: block;
    }
    .bg-image {
        display: none;
    }
    .bg-image1 {
        width: 50%;
    }
    .bg-image2 {
        width: 50%;
    }  
    .search {
        display: none;
    }
    .fa-search {
        display: none;
    }
}
@media (max-width: 1180px) {
    .section-three {
        margin-top: 50px;
    }
    .section-four {
        margin-top: 65px;
    }
    .bg-image28 {
        margin-top: 40px;
    }
    .section-five {
        margin-top: 100px;
        margin-bottom: 80px;
    }
    .image-parrot {
        display: none;
    }
}
@media (max-width: 770px) {
    .bg-image1 {
        width: 100%;
    }
    .bg-image2 {
        display: none;
    }
}
@media (max-width: 749px) {
    .smallMammals-div3 {
        height: 600px;
    }
    .petBirds-div3 {
        height: 1000px
    }
    .div-loadmore {
        margin-top: 145px;
    }
}
@media (max-width: 785px) {
    .header-div1 {
        height: 70px;
    }
}
@media (max-width: 637px) {
    .birds-h2 {
        max-width: 300px;
        width: 100%;
        margin-left: 0px;
    }
    .birds-p {
        max-width: 300px;
        width: 100%;
        margin-left: 0px;
    }
    .petBirds-div2 {
        height: 600px;
    }
    .world-h2 {
        max-width: 300px;
        width: 100%;
        margin-left: 0px;
    }
    .world-p {
        max-width: 300px;
        width: 100%;
        margin-left: 0px;
    }
    .smallMammals-div2 {
        height: 600px;
    }
}
@media (max-width: 430px) {
    .div-ul-1 {
        display: none;
    }
    .header-div1 {
        height: 35px;
    }
    .petBirds-div4 {
        margin-left: 0px;
    }
    .post {
        margin-left: 0px;
    }
    .post-vet {
        margin-left: 0px;
        margin-top: 30px;
    }
    .videos {
        margin-top: 30px;
    }
    .smallMammals-div4 {
        margin-left: 0px; 
    }
    .smallMammals-div5 {
        margin-left: 0px; 
    }
    .button {
        margin-left: 0px;
    }
    .footer-h2 {
        font-size: 20px;
    }
    .footer-p {
        font-size: 15px;
    }
    .div-icon1 {
        max-width: 30px;
        width: 100%;
        height: 30px; 
    }
    .a-icon1 {
        max-width: 30px;
        width: 100%;
        height: 30px;
    }
    .icon1 {
        margin-left: 10px;
    }
    .parrot {
        font-size: 25px;
        letter-spacing: 2px;
    }
    .nav-a {
        font-size: 15px;
    }
}
@media (max-width: 342px) {
    .post1 {
        max-width: 280px;
        width: 100%;
    }
}
